@media (min-width: 600px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 100%;
        line-height: 2em;
        background: url(../images/pentagon.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(5px);
       }

    .overallcontainer {
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }

    #first {
        flex-grow: 1;
    }

    #second {
        flex-grow: 3;
        width: auto; 
    }


    h1 {
        line-height: 1.5em;
        padding: 10px;
        font-size: 1.75rem;
        font-weight: 800;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-family: 'Dancing Script', cursive, Geneva, Verdana, sans-serif;
    }

    li {
        list-style-type: none;
    }

    ul li {
        list-style-type: circle;
    }

    .projcontainer {
        display: flex;
        align-items: center;
        justify-content: left;
        align-content: center;
    }

    .projdiv {
        display: inline-block;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    div #second {

        background-image: linear-gradient(to top, #7c230b, #f6c399);
    }

    .bg {
        width: 100%;
    }

    img {
        width: 80px;
        height: 80px;
    }

    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 15px;
        line-height: 2em;
        font-size: 1.35em;
        font-weight: bold;
        text-align: left;
        font-family: 'Dancing Script', cursive, Geneva, Verdana, sans-serif;

    }


    /* CREATE "COLOR_EXPAND" ELEMENT TRANSITION
    ----------------------------------------------------- */
    .colorexpand {
        color: black;
        /* font-size: 30px; */
        transition: color 1s, border-color 1s, font-size 0.25s;
    }

    .colorexpand:hover {
        color: #b71a62;
        border-color: #b71a62;
        /* font-size: 40px; */
    }



    .current {
        margin-right: 2rem;
        padding: 1rem;
        height: 80vh;
        width: 70vw;
        border-radius: 1rem;
        overflow-y: scroll;
    }

    .hidden {
        display: none;
    }


    #modal {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }

    #modal-textbox {
        background-color: white;
        height: 400px;
        width: 400px;
        border-radius: 2px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        padding: 2%;
        line-height: 120%;
        font-family: 'Arial';

    }

    #modal-footer {
        text-align: right;
    }

    .modal-buttons {
        padding: 14px 18px;
        background-color: #677996;
        border: none;
        outline: none;
        border-radius: 3px;
        color: white;
        font-family: 'Arial';
        cursor: pointer;
    }


}

@media (max-width: 599px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        line-height: 1.5em;

        background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }

    .overallcontainer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    #first {
        flex-grow: 1;
    }


    #second {
        /* flex-grow: 3; */
        margin: 0;
        width: 80%;
        
    }



    h1 {
        line-height: 1.5em;
        padding: 10px;
        font-size: 1.75rem;
        font-weight: 800;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-family: 'Dancing Script', cursive, Geneva, Verdana, sans-serif;
    }

    li {
        list-style-type: none;
    
    }

    ul li {
        list-style-type: circle;
        margin: 1em;
        
    }

    .projcontainer {
        display: flex;
        align-items: center;
        justify-content: left;
        align-content: center;
    }

    .projdiv {
        display: inline-block;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 20px;
        height: 20px;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        padding: 15px;
        line-height: 2em;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
        font-family: 'Dancing Script', cursive, Geneva, Verdana, sans-serif;

    }


    /* CREATE "COLOR_EXPAND" ELEMENT TRANSITION
    ----------------------------------------------------- */
    .colorexpand {
        color: black;
        /* font-size: 30px; */
        transition: color 1s, border-color 1s, font-size 0.25s;
    }

    .colorexpand:hover {
        color: #b71a62;
        border-color: #b71a62;
        /* font-size: 40px; */
    }


    .current {
        /* margin-right: 2rem; */
        margin: auto;
        padding: 1rem;
        height: 80vh;
        width: 70vw;
        border-radius: 1rem;
        overflow-y: scroll;
    }

    .hidden {
        display: none;
    }


    #modal {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }

    #modal-textbox {
        background-color: white;
        height: 250px;
        width: 300px;
        border-radius: 2px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        padding: 2%;
        line-height: 120%;
        font-family: 'Arial';

    }

    #modal-footer {
        text-align: right;
    }

    .modal-buttons {
        padding: 10px 10px;
        background-color: #677996;
        border: none;
        outline: none;
        border-radius: 3px;
        color: white;
        font-family: 'Arial';
        cursor: pointer;
    }


}