@media (min-width: 500px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        line-height: 2em;
        
        background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }

    .overallcontainer{
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly; 
        flex-direction: row;
        flex-wrap: wrap; 
    }

    #first {
        flex-grow: 1;
    }


    #second{
        flex-grow: 2;
        /* width: 70% */
    }

    #third {
        flex-grow: 1
    }

    h1{
        line-height: 1.5em;
        font-size: 1.5rem;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-family: 'Dancing Script', cursive, Geneva, Verdana, sans-serif;
    }

    nav ul {
        list-style-type: none;
    }

    .projcontainer{
        display: flex;
        align-items: center;
        justify-content: left;
        align-content: center;
    }

    .projdiv{
        display: inline-block;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 80px; 
        height: 80px; 
    }

    nav {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 50px;
        line-height: 2em;
        font-size: 1em;
        font-weight: bold;
    }

    .current {
        margin-right: 2rem;
        padding: 1rem;
        height: 80vh;
        width: 70vw;
        border-radius: 1rem;
        overflow-y: scroll;
    }

    .hidden {
        display: none;
    }


    #modal {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: auto;
        display: none;
    }

    #modal-textbox {
        background-color: white;
        height: 550px;
        width: 550px;
        border-radius: 2px;
        margin: 150px auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        padding: 2%;
        line-height: 120%;
        font-family: 'Arial';

    }

    #modal-footer {
        text-align: right;
    }

    .modal-buttons {
        padding: 14px 18px;
        background-color: #677996;
        border: none;
        outline: none;
        border-radius: 3px;
        color: white;
        font-family: 'Arial';
        cursor: pointer;
    }


}